<script type='text/html' id='login_template'>
  <form class='login-form'>
    <label for='email'>Email:</label>
    <input class="form-control" tabindex='1' name='email' type='text'>
    <label for='password'>Password:</label>
    <input class="form-control" tabindex='2' name='password' type='password'>
    <br>
    <button tabindex='3' class='pull-right btn btn-primary'>Login</button>
    <a class='pull-right forgot-pw-btn' href='#forgot-pw'>Forgot Password</a>
  </form>
</script>

<script type='text/html' id='register_template'>
  <form class='register-form'>
    <label for='full_name'>Full Name:</label>
    <input class="form-control" tabindex='1' name='full_name' type='text'>
    <label for='email'>Email:</label>
    <input class="form-control" tabindex='1' name='email' type='text'>
    <label for='password'>Password:</label>
    <input class="form-control" tabindex='2' name='password' type='password'>
    <br>
    <button tabindex='3' class='pull-right btn btn-primary'>Register</button>
    <a class='pull-right forgot-pw-btn' href='/app/login'>Already a Member?</a>
  </form>
</script>