<script type='text/html' id='nav_item_template'>
  <a href='{{ src }}' class='{{ class_name }}'>{{ icon }} {{ name }}</a>
</script>

<script type='text/html' id='dashboard_template'>
  <div class='project-view'>
    <div id='project_list'></div>
    <div id='new_project'>
      <form>
        <label for='name'>Create New Project</label>
        <input class="form-control" type='text' name='name' id='project_name'>
        <br>
        <button class='btn btn-primary pull-right'>Create Project</button>
      </form>
    </div>
  </div>
</script>