<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Loudr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body class='index'>


    <header>
      <nav id='page_header'>
        <div>&nbsp;</div>
      </nav>

      <nav id='header'>
        <h1><a href='/'><img src='/img/loudr.logo.png'></a></h1>

        <a href='#main_nav' id='header_dd'><i class='icon-reorder'></i></a>
        
        <div id='main_nav'></div>
      </nav>
    </header>



    <div id='main' class='container'></div>

    <!--
    <div class='unmain'>
      <div class='well well-smal'>
        Not sure what to put here yet...
      </div>
    </div>
    -->


    <script type='text/html' id='nav_item_template'>
      <a href='{{ src }}' class='{{ class_name }}'>{{ icon }} {{ name }}</a>
    </script>

    <script type='text/html' id='dashboard_template'>
      <div class='project-view'>
        <div id='project_list'></div>
        <div id='new_project'>
          <form>
            <label for='name'>Create New Project</label>
            <input class="form-control" type='text' name='name' id='project_name'>
            <br>
            <button class='btn btn-primary pull-right'>Create Project</button>
          </form>
        </div>
      </div>
    </script>

    <script type='text/html' id='project_list_template'>
      <a href="project/{{ api.key }}">{{ name }}</a>
    </script>


    <script type='text/html' id='project_fans_template'>
      <div class='fan-list-view'>
        <h3>Fans</h3>
        <div class='fan-searchability'>
          Sorting, Filtering, Searching go here.
        </div>
        <ul id='fan_list'></ul>
        <div class='pagination'></div>
      </div>
    </script>

    <script type='text/html' id='fan_list_template'>
      <a href="{{ _id }}">{{ email }}</a>
    </script>
    

    <script type='text/html' id='login_template'>
      <form class='login-form'>
        <label for='email'>Email:</label>
        <input class="form-control" tabindex='1' name='email' type='text'>
        <label for='password'>Password:</label>
        <input class="form-control" tabindex='2' name='password' type='password'>
        <br>
        <button tabindex='3' class='pull-right btn btn-primary'>Login</button>
        <a class='pull-right forgot-pw-btn' href='#forgot-pw'>Forgot Password</a>
      </form>
    </script>

    <script type='text/html' id='register_template'>
      <form class='register-form'>
        <label for='full_name'>Full Name:</label>
        <input class="form-control" tabindex='1' name='full_name' type='text'>
        <label for='email'>Email:</label>
        <input class="form-control" tabindex='1' name='email' type='text'>
        <label for='password'>Password:</label>
        <input class="form-control" tabindex='2' name='password' type='password'>
        <br>
        <button tabindex='3' class='pull-right btn btn-primary'>Register</button>
        <a class='pull-right forgot-pw-btn' href='/app/login'>Already a Member?</a>
      </form>
    </script>

    <script data-main="/js/app" src="/js/vendor/require.js"></script>

    <% if(logged_in) { %>
      <script>
        window.loudrSettings = {
          email: '<%= email %>',
          api_key: "b10d6e77be8428d95bae34e1f6057b02c51df0925146fd2f79ba2a7a519917fa"
        };
      </script>
      <script>
        (function(){
          var w=window;
          var lo=w.Loudr;
          if(typeof lo === "function"){
            console.log(lo);
          } else {
            var d=document;
            // var l=function(){
            //   l.c(arguments)
            // };
            // l.q=[];
            // l.c=function(args){
            //   l.q.push(args)
            // };
            // w.Loudr=l;
            function ld(){
              var s=d.createElement('script');
              s.type='text/javascript';
              s.async=true;
              s.src='/js/loudr.v1.js';
              var x=d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s,x);
            }
            if(w.attachEvent){
              w.attachEvent('onload',ld);
            }else{
              w.addEventListener('load',ld,false);
            }
          };
        })()
      </script>
    <% } %>
  </body>
</html>