<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Loudr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body class='index'>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1><a href='/'>LOUD<b>R</b></a></h1>
      <nav></nav>
    </header>

    <div id='main' class='container'></div>

    <script type='text/html' id='nav_item_template'>
      <a href='{{ src }}'>{{ name }}</a>
    </script>

    <script type='text/html' id='dashboard_template'>
      <div class='project-view'>
        <div id='project_list'></div>
        <div id='new_project'>
          <form class='form-inline'>
            <input type='text' id='project_name'>
            <button class='btn'>Create Project</button>
          </form>
        </div>
      </div>
    </script>

    <script type='text/html' id='project_list_template'>
      <a href="project/{{ api.key }}">{{ name }}</a>
    </script>

    <script type='text/html' id='login_template'>
      <form>
        <label for='email'>Email / Username:</label>
        <input tabindex='1' name='email' type='text'>
        <label for='password'>Password:</label>
        <input tabindex='2' name='password' type='password'>
        <br>
        <button tabindex='3' class='btn'>Login</button>
      </form>
    </script>

    <script data-main="/js/app" src="/js/vendor/require.js"></script>

    <script>
      window.loudrSettings = {
        email: "gerald.leenerts@gmail.com",
        api_key: "8f2fd8f41de97710288a2ee90e42f8e74706a666"
      };
    </script>
    <script>
      (function(){
        var w=window;
        var lo=w.Loudr;
        if(typeof lo==="function"){
          console.log(lo);
        }else{
          var d=document;
          // var l=function(){
          //   l.c(arguments)
          // };
          // l.q=[];
          // l.c=function(args){
          //   l.q.push(args)
          // };
          // w.Loudr=l;
          function ld(){
            var s=d.createElement('script');
            s.type='text/javascript';
            s.async=true;
            s.src='/js/loudr.v1.js';
            var x=d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);
          }
          if(w.attachEvent){
            w.attachEvent('onload',ld);
          }else{
            w.addEventListener('load',ld,false);
          }
        };
      })()
    </script>

    <!--
    <script>
      // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      // g.src='//www.google-analytics.com/ga.js';
      // s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
  </body>
</html>